<navcontainer>

<ul class="nav nav-pills">
  <li id="pomodoro" ng-class="{active: tab=='pomodoro'}">
  <a ng-click="tab='pomodoro'" class="clickable">
    <i class="glyphicon glyphicon-ok-circle"></i>
    Pomodoro
  </a>
  </li>

  <li id="todo" ng-class="{active: tab=='todo'}">
  <a ng-click="tab='todo'" class="clickable">
    <i class="glyphicon glyphicon-list"></i>
    TODO
  </a>
  </li>
</ul>

<div id='content' class="tab-content">
  <div class="tab-pane" id="pomodoro" ng-class="{active: tab=='pomodoro'}">
    <pomodorolist></pomodorolist>
  </div>
  <div class="tab-pane" id="todo" ng-class="{active: tab=='todo'}">
    <todolist></todolist>
  </div>
</div>
</navcontainer>
