<navcontainer>

<ul class="nav nav-pills">
  <li id="pomodoro" class="active">
  <a ng-click="show('pomodoro')">
    <i class="glyphicon glyphicon-ok-circle"></i>
    Pomodoro
  </a>
  </li>
  <li id="todo">
  <a ng-click="show('todo')">
    <i class="glyphicon glyphicon-list"></i>
    TODO
  </a>
  </li>
</ul>
<div id='content' class="tab-content">
  <div class="tab-pane active" id="pomodoro">
    <pomodorolist></pomodorolist>
  </div>
  <div class="tab-pane" id="todo">
    <todolist></todolist>
  </div>
</div>
</navcontainer>
