/** Grey **//** Redish **//** Bluish **//** Yellowish **//** Whitish **/body.drinks {
  min-width: 320px;
}
body.drinks .row {
  margin: 10px auto;
}
body.drinks .media-list {
  clear: both;
}
body.drinks .media-list .media {
  border: 1px solid #00b9ff;
  border-radius: 5px;
  overflow: visible;
}
body.drinks .media-list .media .counter {
  margin: 5px;
  display: inline-block;
}
body.drinks .media-list .media .counter span {
  display: inline-block;
  border-radius: 5px;
  color: #4b96b2;
  background-color: #f3f3f3;
  font-size: 1.8em;
  text-align: center;
  padding: 0 5px;
  min-width: 40px;
}
body.drinks .media-list .media .media-body {
  color: #4b96b2;
}
body.drinks .media-list .media .media-body form {
  margin-top: 5px;
}
body.drinks .media-list .media .media-body .media-heading {
  padding-top: 10px;
}
body.drinks .media-list .media .media-body .tags {
  color: #ccc87f;
}
body.drinks .media-list .media .media-actions > * {
  margin: 5px;
}
body.drinks .media-list .media.rest .counter > span {
  background-color: #ff5a7d;
  color: #f3f3f3;
}
body.drinks .media-list .media.done .counter > span {
  background-color: #a1a1a1;
}
body.drinks .media-list .media.done .media-body {
  text-decoration: line-through;
}
.active > a {
  color: #ff5a7d !important;
}
