<div class="media">
  <div class="media-body pull-left">
    <h4 class="media-heading"> {{model.get('name')}} </h4>
  </div>
  <div class="media-actions pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle"
        ng-class="{'btn-success': model.get('status')=='done'}"
        data-toggle="dropdown">
       {{model.get('status') | capital}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="s in statuses"><a ng-click="update(s)">
          {{s | capital}}
       </a></li>
      </ul>
    </div>

    <button class="btn btn-danger" ng-click="doRemove()">Remove</button>
  </div>
</div>
