<div class="media">
  <a class="counter pull-left"
    href="#/{{entity}}/view/{{model.id}}">{{model.get('count') | timer}}</a>
  <div class="media-body pull-left">
    <h4 class="media-heading"> {{model.get('name')}} </h4>
  </div>
  <div class="media-actions pull-right">
    <button class="btn btn-primary" ng-click="doPause()"
      ng-show=" model.get('status')!='done' && model.get('pause')">Resume</button>
    <button class="btn btn-primary" ng-click="doPause()"
      ng-show="model.get('status')!='done' && !model.get('pause')">Pause</button>
    <button class="btn btn-danger" ng-click="doRemove()">Remove</button>
  </div>
</div>
