<div class="media row {{model.get('status')}}" ng-show="show">

  <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
    <span class="counter {{model.get('status')}}"
      ng-show="!whenDone(model)">
      <span>{{getTime() | timer}}</span>
    </span>
    <span class="counter done"
      ng-show="model.get('status') != 'rest' && whenDone(model)">
      <span><i class="glyphicon glyphicon-ok"></i></span>
    </span>
  </div>

  <div class="media-body col-lg-11 col-md-11 col-sm-10 col-xs-10">
    <div class="media-body col-lg-9 col-md-8 col-sm-7 col-xs-12"
      ng-click="editing=true" ng-show="!editing">
      <h4 class="media-heading">
        <span class="tags" ng-show="model.get('tags')">
          {{model.get('tags')}}
        </span>
        {{model.get('name')}} 
      </h4>
    </div>
    <div class="media-body col-lg-9 col-md-8 col-sm-7 col-xs-12" ng-show="editing">
      <form ng-submit="save()" role="form" class="form-inline" name="form"
        novalidate>

        <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-2">
          <input class="form-control" id="tags" type="text" ng-model="tags"
          name="tags" placeholder="Enter new tags.">
        </div>

        <div class="form-group col-xs-10 col-sm-7 col-md-8 col-lg-9">
          <input id="name" class="form-control" type="text" ng-model="name"
          name="name" placeholder="Enter new name.">
        </div>
        <button class='btn pull-right' type="submit">Save</button>
        
      </form>
    </div>
    <div class="media-actions col-lg-3 col-md-4 col-sm-5 col-xs-12 ">
      <div class="pull-right">

        <button class="btn btn-default" ng-click="anotherOne()">
          <i class="glyphicon glyphicon-new-window"></i>
        </button>
        <button class="btn btn-default" ng-click="mute=true"
          ng-show="!whenDone(model) && !mute">
          <i class="glyphicon glyphicon-volume-up"></i>
        </button>
        <button class="btn btn-default" ng-click="mute=false"
          ng-show="!whenDone(model) && mute">
          <i class="glyphicon  glyphicon-volume-off"></i>
        </button>
        <button class="btn btn-default" ng-click="doPause()"
          ng-show="!whenDone(model) && model.get('pause').start">
          <i class="glyphicon glyphicon-play"></i>
        </button>
        <button class="btn btn-default" ng-click="doPause()"
          ng-show="!whenDone(model) && !model.get('pause').start">
          <i class="glyphicon glyphicon-pause"></i>
        </button>
        <button class="btn btn-danger" ng-click="doRemove()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </div>
    </div>
  </div>
</div>
