<div class="entitynav pull-right">
  <span>
    <a class="btn btn-small btn-primary" href="#/{{page}}/add"
      ng-show="action=='list'">
      <i class="glyphicon glyphicon-plus"></i> Add </a>
  </span>

  <span>
    <a class="btn btn-small btn-primary" href="#/{{page}}/edit/{{id}}"
      ng-show="action=='view'">
      <i class="glyphicon glyphicon-edit"></i> Edit </a>
  </span>

  <span>
    <a class="btn btn-small btn-primary" href="#/{{page}}/view/{{id}}"
      ng-show="action=='edit'">
      <i class="glyphicon glyphicon-desktop"></i> View </a>
  </span>

  <span>
    <a class="btn btn-small btn-primary" href="#/{{page}}/list/"
      ng-show="action!='list'">
      <i class="glyphicon glyphicon-list"></i> List </a>
  </span>

</div>
