<div class="row pomodorolist">
  <datalist id="tagslist">
  <option value="{{e}}" ng-repeat="e in tagsList">
  </datalist>
  <datalist id="nameslist">
  <option value="{{e}}" ng-repeat="e in namesList">
  </datalist>
  <form role="form" class="row form-inline" ng-submit="add()"
    name="form" novalidate>

    <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <input type="text" id="tags" class="form-control pull-right"
      placeholder="Tags" ng-model="tags" list="tagslist" required>
    </div>

    <div class="form-group col-xs-12 col-sm-8 col-md-9 col-lg-9" >
      <div class="input-group pull-right">
        <input type="text" id="name" class="form-control"
        placeholder="Pomodoro title..." list="nameslist"ng-model="name" required>
        <span class="input-group-btn">
          <button class="btn btn-default pull-right" type="submit">
            <i class="glyphicon glyphicon-plus"></i> Add </button>
        </span>
      </div>
    </div>

  </form>
  <div class="help">
    The Pomodoro Technique is a time management method developed by Francesco
    Cirillo in the late 1980s.[1] The technique uses a timer to break down work
    into intervals traditionally 25 minutes in length, separated by short
    breaks. These intervals are known as "pomodori", from the Italian word
    pomodoro for "tomato".[2] The method is based on the idea that frequent
    breaks can improve mental agility
  </div>
  
  <button class="btn btn-default pull-right" ng-click="continus=!continus"
    ng-show="tab == 'today'"
    data-toggle="tooltip"
    data-placement="left"
    data-original-title="When continus, a new pomodori is started when the current one ends." >
    <i class="glyphicon"
      ng-class="{
      'glyphicon-align-center':!continus,
      'glyphicon-link':continus
      }"></i>
    {{continus ? 'Continus': 'Planned' }}
  </button>
  <ul class="nav nav-tabs">
    <li ng-class="{active: tab == 'today'}">
    <a ng-click="tab='today'" class="clickable"> Today </a>
    </li>
    <li ng-class="{active: tab == 'history'}">
    <a ng-click="showHistory()" class="clickable"> History </a>
    </li>
    <li ng-class="{active: tab == 'reports'}">
    <a ng-click="showReports()" class="clickable"> Reports </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: tab == 'today'}">
      <ul class="media-list row well">
        <durable ng-repeat="e in entities" model="e" remove="onRemove"
        again="again" done="onDone" change="onChange" show="true"></durable>
      </ul>
    </div>
    <div class="tab-pane" ng-class="{active: tab == 'history'}">
      <ul class="media-list row well">
        <durable ng-repeat="e in history" model="e" remove="onRemove"
        again="again" done="onDone" change="onChange" show="true"></durable>
      </ul>
    </div>
    <div class="tab-pane" ng-class="{active: tab == 'reports'}">
      <button class="btn btn-default"
        ng-click="isBar=!isBar">Switch</button>
      <div id="reports">
        <svg width="100%" height="400"></svg>
      </div>
    </div>
  </div>
</div>
