<div class="row">
<form role="form" class="pull-right form-inline" ng-submit="add(form)" name="form" novalidate>

  <div class="form-group">
    <input type="text" class="form-control input-xl" id="task" placeholder="New task..."
    ng-model="name" required>
  </div>

  <button type="submit" class="btn btn-default btn-primary">
    <i class="glyphicon glyphicon-plus"></i>
    Add 
  </button>
</form>
</div>

<ul class="media-list row">
  <doable ng-repeat="e in entities" model="e" entity="time" remove="onRemove" change="onChange"></doable>
</ul>
