<div class="row">
  <form role="form" class="row form-inline" ng-submit="add(name)" name="form" novalidate>

    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 pull-right">
      <div class="input-group pull-right">
        <input type="text" class="form-control" id="task" placeholder="New task..."
        ng-model="name" required>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="glyphicon glyphicon-plus"></i> Add </button>
        </span>
      </div>
    </div>
  </form>
</div>

<ul class="media-list row">
  <doable ng-repeat="e in entities" model="e" entity="time" remove="onRemove" change="onChange"></doable>
</ul>
