<navcontainer>
<form role="form" name="form" novalidate ng-submit="create(form)">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description"
      placeholder="Description"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="active" name="active"> Everyday drink ?
    </label>
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>
</navcontainer>
