html
  body
    | filter &equals; -&gt;
    | &lpar;input&rpar; -&gt;
    | console&period;log input
    | input &quest;&equals; 0
    | &quot;&num;&lcub;input&rcub;&quot;
    | angular&period;module&lpar;&apos;drinksApp&apos;&rpar;
    | &period;filter &apos;timer&apos;&comma; filter
