html
  body
    | filter &equals; &lpar;&rpar; -&gt;
    | &lpar;input&rpar; -&gt;
    | if input then &apos;Yes&apos; else &apos;No&apos;
    | angular&period;module&lpar;&apos;drinksApp&apos;&rpar;
    | &period;filter &apos;truthy&apos;&comma; filter
