html
  body
    | controller &equals; &lpar;scope&rpar;-&gt;
    | scope&period;entities &equals; &lsqb;&rsqb;
    | Time &equals; Parse&period;Object&period;extend &quot;Time&quot;
    | query &equals; new Parse&period;Query Time
    | query&period;equalTo&lpar;&quot;type&quot;&comma; &quot;pomodoro&quot;&rpar;
    | query&period;find
    | success&colon; &lpar;results&rpar;-&gt;
    | scope&period;&dollar;apply -&gt;
    | scope&period;entities &equals; &UnderBar;&period;map results&comma; &lpar;d&rpar;-&gt;
    | x &equals; d&period;&UnderBar;serverData
    | x&period;id &equals; d&period;id
    | x
    | error&colon; &lpar;error&rpar;-&gt;
    | console&period;log error
    | scope&period;remove &equals; &lpar;id&rpar;-&gt;
    | query &equals; new Parse&period;Query Time
    | query&period;get id&comma;
    | success&colon; &lpar;result&rpar;-&gt;
    | scope&period;&dollar;apply -&gt;
    | result&period;destroy&lpar;&rpar;
    | scope&period;entities &equals; &UnderBar;&period;filter scope&period;entities&comma; &lpar;d&rpar;-&gt;
    | d&period;id &excl;&equals; id
    | error&colon; &lpar;e&rpar;-&gt;
    | console&period;log e
    | scope&period;add &equals; &lpar;&rpar;-&gt;
    | pomodoro &equals; new Time&lpar;&rpar;
    | pomodoro&period;set &apos;count&apos;&comma; 0
    | pomodoro&period;set &apos;countlimit&apos;&comma; 25&midast;60
    | pomodoro&period;set &apos;breaklimit&apos;&comma; 5&midast;60
    | query &equals; new Parse&period;Query Time
    | query&period;get id&comma;
    | success&colon; &lpar;result&rpar;-&gt;
    | scope&period;&dollar;apply -&gt;
    | result&period;destroy&lpar;&rpar;
    | scope&period;entities &equals; &UnderBar;&period;filter scope&period;entities&comma; &lpar;d&rpar;-&gt;
    | d&period;id &excl;&equals; id
    | error&colon; &lpar;e&rpar;-&gt;
    | console&period;log e
    | angular&period;module&lpar;&apos;drinksApp&apos;&rpar;
    | &period;controller &apos;TimeListCtrl&apos;&comma;
    | &lsqb;&apos;&dollar;scope&apos;&comma; controller&rsqb;
