<navcontainer>
<div class="row fitness">

  <div class="input-group pull-right col-lg-6 col-md-6 col-sm-6 col-xs-6"
    ng-show="tab == 'consumption'">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="form-control" placeholder="Filter consumed items..."
    ng-model="consumptionFilter">
  </div>

  <ul class="nav nav-tabs">
    <li ng-class="{active: tab == 'consumption'}">
    <a ng-click="showConsumptions()" class="clickable"> Consumption </a>
    </li>
    <li ng-class="{active: tab == 'items'}">
    <a ng-click="tab='today'" class="clickable"> Item </a>
    </li>
    <li ng-class="{active: tab == 'reports'}">
    <a ng-click="showReports()" class="clickable"> Reports </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: tab == 'consumption'}">


      <datalist id="tagslist">
      <option value="{{e}}" ng-repeat="e in tagsList">
      </datalist>
      <datalist id="nameslist">
      <option value="{{e}}" ng-repeat="e in namesList">
      </datalist>

      <form role="form" class="row form-inline" ng-submit="add()"
        name="form" novalidate>

        <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <input type="text" id="tags" class="form-control pull-right"
          placeholder="Tags" ng-model="tags" list="tagslist" required>
        </div>

        <div class="form-group col-xs-12 col-sm-8 col-md-9 col-lg-9" >
          <div class="input-group pull-right">
            <input type="text" id="name" class="form-control"
            placeholder="Item title..." list="nameslist"ng-model="name" required>
            <span class="input-group-btn">
              <button class="btn btn-default pull-right" type="submit">
                <i class="glyphicon glyphicon-plus"></i> Add </button>
            </span>
          </div>
        </div>
      </form>


    </div>
    <div class="tab-pane" ng-class="{active: tab == 'items'}">
      <ul class="media-list row well">


      </ul>
    </div>
    <div class="tab-pane" ng-class="{active: tab == 'reports'}">
      <div class="row">
        <button ng-click="switch()" class="btn btn-default pull-right">
          <i class="glyphicon"
            ng-class="{'glyphicon-stats': !isBar, 'glyphicon-flash': isBar}"></i>
          {{isBar?'Lines':'Bars'}}
        </button>
      </div>
      <div id="reports" style="padding: 10px;">
        <div id="chart"></div>
      </div>
    </div>
  </div>
</div>
</navcontainer>
