<navcontainer>
<drinks>
<drink name="Espresso" description="Coffee" img="http://placehold.it/50x50"></drink>
<drink name="Double Espresso" description="Coffee" img="http://placehold.it/50x50"></drink>
<drink name="Latte" description="Coffee" img="http://placehold.it/50x50"></drink>
<drink name="Cappucino" description="Coffee" img="http://placehold.it/50x50"></drink>
<drink name="American Coffee" description="Coffee" img="http://placehold.it/50x50"></drink>
<drink name="Turkish Coffee" description="Coffee" img="http://placehold.it/50x50"></drink>
<drink name="French Coffee" description="Coffee" img="http://placehold.it/50x50"></drink>
<drink name="Water" description="Water" img="http://placehold.it/50x50"></drink>
<drink name="Apple juice" description="Juice" img="http://placehold.it/50x50"></drink>
<drink name="Orange juice" description="Juice" img="http://placehold.it/50x50"></drink>
</drinks>
</navcontainer>
