html
  body
    | controller &equals; &lpar;location&comma; scope&comma; element&comma; attrs&rpar; -&gt;
    | scope&period;entity &quest;&equals; &apos;drink&apos;
    | parts &equals; location&period;&dollar;&dollar;path&period;split&lpar;&apos;&sol;&apos;&rpar;
    | scope&period;page &equals; parts&lsqb;1&rsqb;
    | scope&period;action &equals; parts&lsqb;2&rsqb;
    | scope&period;id &equals; parts&lsqb;3&rsqb;
    | angular&period;module&lpar;&apos;drinksApp&apos;&rpar;
    | &period;directive &apos;entitynav&apos;&comma; -&gt;
    | templateUrl&colon; &apos;views&sol;directives&sol;entitynav&period;html&apos;
    | restrict&colon; &apos;E&apos;
    | scope&colon;
    | entity&colon; &apos;&commat;&apos;
    | controller&colon; &lsqb;&apos;&dollar;location&apos;&comma; &apos;&dollar;scope&apos;&comma; &apos;&dollar;element&apos;&comma; &apos;&dollar;attrs&apos;&comma; controller&rsqb;
